/* ---Color Section--- */
.bg-color{
    background-color: #1A0B2E;
}
.bg-2-color{
    background-color: #230E3D;
}
.gr-color{
    color: white;
    background: linear-gradient(to right, #FF0080, #7928CA);
}