/* ---Font Family--- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---Navbar--- */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.logo{
    color: white;
}
.menu-list{
    display: flex;
    gap: 32px;
    color: white;  
}
.hamburger-icon{
    display: none;
    width: 30px;
}
.menu-list li{
    list-style: none;
}

/* ---Button--- */
.main-button{
    border: 1px solid ;
    border-radius: 45px;
    padding: 16px 12px;
    gap: 4px;
    width: 135px;
    color: white;
    border: none;
}

/* ---Hero Section--- */
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 760px;
    width: 100%;
    position: relative;
    padding: 50px 0;
}
.hero-images{
    display: flex;
    background-image: url(../assets/hero-circle.png);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 350px;
    position: relative;   
}
.badge {
  background-color: #00FF9D; 
  color: #000000;
  box-shadow: 0 0 15px rgba(0, 255, 157, 0.6);
  font-weight: bold;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 50px; 
  position: absolute;
  top: 40px;
  right: 30px;
  animation: glow-pulse 2s infinite ease-in-out;
}
@keyframes glow-pulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 255, 157, 0.5);
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 25px rgba(0, 255, 157, 1);
        transform: scale(1.1);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 255, 157, 0.5);
        transform: scale(1);
    }
}
.hero-text h1{
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: white;
}
.hero-text p{
    color: #D0D0D0
}
.hero-document{
    text-align: center;
    line-height: 1.6;
}

/* ---Hero Button--- */
.hero-button{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}
.btn-spotify{
    border: 3px solid ;
    border-radius: 45px;
    padding: 18px 12px;
    gap: 4px;
    width: 200px;
    border: none;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    display: flex;
    gap: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    animation: pulseGreen 1.5s infinite;
}
@keyframes pulseGreen {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 255, 136, 0.7);
	}
	70% {
		box-shadow: 0 0 0 15px rgba(0, 255, 136, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 255, 136, 0);
	}
}
.btn-subscribe{
    border: 3px solid #00FF88;
    border-radius: 45px;
    padding: 18px 12px;
    background: none;
    color: #00FF88;
    font-size: 1.25rem;
    display: flex;
    gap: 6px;
    align-items: center;
    text-align: center; 
    animation: shakeIcon 0.6s ease-in-out infinite; 
}
@keyframes shakeIcon {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(5px); }
}

/* ---About Section--- */

.about-details{
    justify-items: center;
    text-align: center;
    color: white;
}

.about-description{
    max-width: 1200px;
    padding-top: 16px;
    margin-bottom: 80px;
    font-weight: 200;

}
.hr-divider hr{
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;
    border: 1px solid #373837;

}
.rating-card{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    margin: 80px auto;
    width: 90%;
}
.rating-card h1{
    color: #00FF88;
    font-size: 3rem;
}
.rating-card p{
    color: white;
    padding-top: 20px;
}

/* ---Why Choose Section--- */
.why-choose{
    color: white;
    background-color: #230E3D;
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.card-container{
    max-width: 1200px;
    margin: 0 auto;
}
.section-title {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    font-weight: 700;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.w-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 30px;
    
}
.w-card h3{
    margin-top: 20px;
}
.w-card p{
    margin-top: 20px;
    font-weight: 100;
}
.premium-audio{
  grid-column: span 1;
  grid-row: span 2;
  padding-top: 30%;
}
.mobile-friendly, 
.global-community {
  grid-column: span 2;
}
.exclusive-interviews {
  grid-column: span 2;
}
.rich-resources {
  grid-column: span 1;
}

/* ---Feature Section--- */
.feature-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 50px 20px; 
    width: 100%;
}
.feature-title{
    color: white;
    text-align: center;
    padding-bottom: 40px;
    font-size: 1.5rem;
    
}
.feature-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;

}

.f-card{
    border-radius: 20px;
    background-color: rgba(53, 17, 101, 0.4);
    color: white;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    
}
.f-card h3{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 30px;
}
.f-card p{
    font-weight: 300;
    padding-bottom: 30px;
}
.yt-vid iframe {
    width: 100%;
    height: auto;
}
.card-detail{
    padding: 20px;
}
.card-footer {
  font-size: 0.8rem;
  color: #00ff88;
  font-weight: bold;
  gap: 5px;
  display: flex; 
}
.card-footer span{
    display: flex;
    gap: 10px;
}

/* ---Host Section--- */
.host-title{
    text-align: center;
    color: white;
    font-size: 1.5rem;

}
.host-card{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    align-items: center;
    color: white;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    margin-top: 40px;
}
.host-name{
    padding-bottom: 20px;
}
.host-social{
    display: flex;
    gap: 20px;
}
.host-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.icon-box{
    width: 50px;
    height: 50px;
    border: 2px solid #535353;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
/* ---Footer-- */
.footer{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 60px 20px; 
    margin-top: 100px;
    gap: 40px;
    color: white;
    text-align: center;
}

.footer-logo{
    font-size: 3rem;
    font-weight: 700;
}

.wave-text{
    color: #CF00F1;
    background: linear-gradient(to right, #FF0080, #7928CA);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
   
}

.footer-sponsor{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5px;
}

.sponsor-item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.sponsor-item img{
    width: 24px;
    height: auto;
}

.copyright{
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    margin-top: 20px;
}





/* ---Responsive for Mobile Device 576px--- */
@media screen and (max-width: 576px) {
    body, html{
        overflow-x: hidden;
    }
    .navbar{
        justify-content: space-between;
        padding: 15px 20px;
        width: 100%;

    }
    .menu, 
    .button{
        display: none;
    }
     
    .hamburger-icon{
        display: block;
        width: 28px;
        height: auto;
    }
    .hero-text h1{
        font-size: 2.6rem;
    }
    .hero-text p{
        font-size: x-large;
    }
    .hero-container{
        width: 100%;
        min-height: auto;
        background-size: cover;
        background-position: center ;
    }
    .hero-images {
        width: 280px;
        height: 280px;
        background-size: contain;
        margin: 0 auto;
        margin-top: 30px;
        
    }

    .rating-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 80px;
    }
    .card-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .premium-audio{
        padding: 30px;
    }
    .feature-card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .host-card{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        
    }
    .host-name{
        padding-bottom: 20px;
    }
    .host-social{
        justify-content: center;
    }
    .footer-sponsor{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;        
    }
    .footer {
        padding: 50px 20px; 
        background-image: url(../assets/footer-bg.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;       
    }
    
}