/* ---Font Family--- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0 auto;
}
/* ---Navbar--- */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.logo{
    color: white;
}
.menu-list{
    display: flex;
    gap: 32px;
    color: white;
    
}
.menu-list li{
    list-style: none;
}

/* ---Button--- */
.main-button{
    border: 1px solid ;
    border-radius: 45px;
    padding: 16px 12px;
    gap: 4px;
    width: 135px;
    color: white;
    border: none;
}

/* ---Hero Section--- */
.hero-container{
    background-image:url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 760px;
    /* width: 1600ppx; */
    position: relative;
}
.hero-images{
    display: flex;
    background-image: url(../assets/hero-circle.png);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    
}
.hero-document{
    text-align: center;
    color: white;
}

/* ---Hero Button--- */
.btn-spotify{
    border: 1px solid ;
    border-radius: 45px;
    padding: 16px 12px;
    gap: 4px;
    width: 200px;
    border: none;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.25rem;
}
.btn-subscribe{
    border: 2px solid #00FF88;
    border-radius: 45px;
    padding: 18px 12px;
    width: 200px;
    background: none;
    color: #00FF88;
    font-size: 1.25rem;
}

/* ---About Section--- */

.about-details{
    justify-items: center;
    text-align: center;
}
.rating-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    text-align: center;

}
.rating-card h1{
    color: #00FF88;
}