/* ---Font Family--- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---Navbar--- */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.logo{
    color: white;
}
.menu-list{
    display: flex;
    gap: 32px;
    color: white;
    
}
.menu-list li{
    list-style: none;
}

/* ---Button--- */
.main-button{
    border: 1px solid ;
    border-radius: 45px;
    padding: 16px 12px;
    gap: 4px;
    width: 135px;
    color: white;
    border: none;
}

/* ---Hero Section--- */
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 760px;
    width: 1600ppx;
    position: relative;
    gap: 80px;
}
.hero-images{
    display: flex;
    background-image: url(../assets/hero-circle.png);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 350px;   
}
.hero-text h1{
    font-size: 3.75rem;

}
.hero-document{
    text-align: center;
    color: white;
}

/* ---Hero Button--- */
.btn-spotify{
    border: 3px solid ;
    border-radius: 45px;
    padding: 18px 12px;
    gap: 4px;
    width: 200px;
    border: none;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.25rem;
}
.btn-subscribe{
    border: 3px solid #00FF88;
    border-radius: 45px;
    padding: 18px 12px;
    width: 200px;
    background: none;
    color: #00FF88;
    font-size: 1.25rem;
}

/* ---About Section--- */

.about-details{
    justify-items: center;
    text-align: center;
    color: white;
}
.rating-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    text-align: center;

}
.rating-card h1{
    color: #00FF88;
}
.rating-card p{
    color: white;
}

/* ---Why Choose Section--- */
.why-choose{
    color: white;
    background-color: #230E3D;
}

.card-container{
    max-width: 1200px;
    margin: 0 auto;
}
.section-title {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    font-weight: 700;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.w-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 30px;
}
.w-card h3{
    margin-top: 20px;
}
.w-card p{
    margin-top: 20px;
    font-weight: 100;
}
.premium-audio{
  grid-column: span 1;
  grid-row: span 2;
}
.mobile-friendly, 
.global-community {
  grid-column: span 2;
}
.exclusive-interviews {
  grid-column: span 2;
}
.rich-resources {
  grid-column: span 1;
}

/* ---Feature Section--- */
.feature-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 50px 20px; 
    width: 100%;
}
.feature-title{
    color: white;
    text-align: center;
    padding-bottom: 40px;
    font-size: 1.5rem;
    
}
.feature-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;

}

.f-card{
    border-radius: 20px;
    background-color: rgba(53, 17, 101, 0.4);
    color: white;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    
}
.f-card h3{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 30px;
}
.f-card p{
    font-weight: 300;
    padding-bottom: 30px;
}
.yt-vid iframe {
    width: 100%;
    height: auto;
}
.card-detail{
    padding: 20px;
}
.card-footer {
  font-size: 0.8rem;
  color: #00ff88;
  font-weight: bold;
  align-items: center;
  gap: 5px;
  display: flex;
  
}

/* ---Host Section--- */
.host-title{
    text-align: center;
    color: white;
    font-size: 1.5rem;

}
.host-card{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    align-items: center;
    color: white;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    margin-top: 40px;
}
